* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.85), rgba(4, 9, 30, 0.85)),
    url("https://images.alphacoders.com/468/thumb-1920-468462.jpg"),
    center/cover;
  position: relative;
}
nav {
  height: 70px;
  background-color: #000e9c;
}
.grid-navbar {
  display: grid;
  height: 70px;
  grid-template-columns: 25% 75%;
}
.flex-navbar ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  top: 50%;
  transform: translateY(-50%);
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-navbar img {
  height: 50px;
}
.flex-navbar a {
  text-decoration: none;
  color: #fff;
}
.flex-navbar ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.flex-navbar ul li:hover::after {
  width: 100%;
}
.header-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  padding: 0 200px;
}
.header-text h1 {
  font-size: 4rem;
  padding: 50px;
}
.header-text p {
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 60px;
}
.btn {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 15px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #000e9c;
}

/********************************** SECTION 1 **********************************/
.section-1 {
  padding: 100px;
}
.flex-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-content,
.flex-content,
.flex-content {
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  width: 30%;
  text-align: center;
}
.flex-box h2,
.flex-box p {
  padding: 15px;
}
.flex-box p {
  text-align: justify;
}
.btn-2 {
  color: #000e9c;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #000e9c;
  border-radius: 50px;
  padding: 15px;
  transition: 0.3s;
  margin: 20px;
}
.btn-2:hover {
  background-color: #000e9c;
  color: #fff;
}

/*********************************** FOOTER ***********************************/

footer {
  color: #fff;
  background-color: #000e9c;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
